section {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    display: block;
    background-color: blanchedalmond;
    transition: all 0.5s ease-in-out;
}

section:hover {
    padding: 5px;
    transition: all 0.3s ease-out;

}