h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav {
    transition: all 0.5s ease-in-out;
}
.nav {
    text-align: center;
    font-family: Verdana;
    background-color: blanchedalmond;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    border-style: solid;
    display: block;
    border-radius: 25px;

}

.button {
    padding: 0px;
}

.button:hover {
    padding: 5px;
}


body {
    background-image: url(/images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

hr {
    background-color: black;
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    margin-top: 5px;
    margin-top: 5px;
    background-color: transparent;
    border-color: transparent;
}

a:hover {
    color: gold;
}

a:active {
    color: black;
}


img {
    display: block;
    width: 200px;
    height: 100;
    border-style: solid;
    border-radius: 15px;

}

.container {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
}
.child {
    float: left;
    width: 47%;
    padding: 10px;
    background-image: linear-gradient(blanchedalmond,blanchedalmond, transparent);
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-left: 10px;
}
footer {
    display: inline-block;
    text-align: left;
    bottom: 10px;
}