section {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(/images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.personal {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 60px;
}

.prior {
    text-align: center;
    list-style-position: inside;
}

.me {
    width: 200px;
    height: 250px;
}

.img {
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    color: gold;
}

a:active {
    color: black;
}
