section {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(/images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.personal {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 60px;
}

.prior {
    text-align: center;
    list-style-position: inside;
}

.me {
    width: 200px;
    height: 250px;
}

.img {
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    color: gold;
}

a:active {
    color: black;
}
header {
 background-color: transparent;
}
nav {
    background-color: blanchedalmond;
    width: 10%;
    margin-top: auto;
    margin-right: auto;
    text-align: center;
    font-size: 130%;
    padding: 0px;
    border-radius: 15px;
    border-style: solid;
    border
}
nav:hover {
    padding: 10px;
}
