section {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(/images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.personal {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.prior {
    text-align: center;
    list-style-position: inside;
}

.me {/* Images form the profile.html*/
    width: 200px;
    height: 250px;
    border-style: solid;
    margin-top: 3px;
}

.img {
    margin-left: auto;
    margin-right: auto;
}

.bear {
    border: 2px solid black;
    border-radius: 15px;
}

a:hover {
    color: gold;
    transition: all 0.5s ease-in-out;
}

a:active {
    color: black;
}

header {
    background-color: transparent;
    display: block;
}
/* Start of navigation bar*/
nav{
    transition: all 0.5s ease-in-out;
}
nav:hover {
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

#active {
    padding: 15px;
    color: brown;
}

.index,
.profile,
.dash,
.faq,
.blog {
    text-decoration: none;
    display: inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: blanchedalmond;
    border-style: solid;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
/* End of navigation bar */


.prior, /*This is for the profile.html */
.personal,
.study {
background-image: linear-gradient(blanchedalmond,blanchedalmond, transparent);
border-style:solid;
border-radius: 25px;
text-align: center;
margin-left: 300px;
margin-right: 300px;
margin-top: 2px;
padding-top: 2px;
}

footer {
    text-align: left;
    bottom: 10px;
}

.hz {
    display: block;
    width: 200px;
    height: 100;
    border-style: solid;
    border-radius: 15px;
}
